/*
 Theme Name:   Elegant Child
 Description:  Elegant Child Theme
 Author:       Sebastián González Díaz
 Template:     wpex-elegant
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  elegant-child
*/

@font-face{
	font-family: 'GillSansRegular';
	src: url('fonts/gillsansregular.eot');
	src: url('fonts/gillsansregular.eot?#iefix') format('embedded-opentype'),
			url('fonts/gillsansregular.woff') format('woff'),
			url('fonts/gillsansregular.ttf') format('truetype'),
			url('fonts/gillsansregular.svg#GillSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GillSansBold';
	src: url('fonts/gillsansbold.eot');
	src: url('fonts/gillsansbold.eot?#iefix') format('embedded-opentype'),
			url('fonts/gillsansbold.woff') format('woff'),
			url('fonts/gillsansbold.ttf') format('truetype'),
			url('fonts/gillsansbold.svg#GillSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MuseoSlab900';
	src: url('fonts/museoslab900.eot');
	src: url('fonts/museoslab900.eot?#iefix') format('embedded-opentype'),
			url('fonts/museoslab900.woff') format('woff'),
			url('fonts/museoslab900.ttf') format('truetype'),
			url('fonts/museoslab900.svg#MuseoSlab900') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SinaNovaRegular';
	src: url('fonts/sinanovaregular.eot');
	src: url('fonts/sinanovaregular.eot?#iefix') format('embedded-opentype'),
			url('fonts/sinanovaregular.woff') format('woff'),
			url('fonts/sinanovaregular.ttf') format('truetype'),
			url('fonts/sinanovaregular.svg#SinaNovaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GeorgiaRegular';
	src: url('fonts/georgia.eot');
	src: url('fonts/georgia.eot?#iefix') format('embedded-opentype'),
			url('fonts/georgia.woff') format('woff'),
			url('fonts/georgia.ttf') format('truetype'),
			url('fonts/georgia.svg#GeorgiaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GeorgiaBold';
	src: url('fonts/georgiab.eot');
	src: url('fonts/georgiab.eot?#iefix') format('embedded-opentype'),
			url('fonts/georgiab.woff') format('woff'),
			url('fonts/georgiab.ttf') format('truetype'),
			url('fonts/georgiab.svg#GeorgiaBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
   font-family: 'helvetica_neuebold';
   src: url('fonts/helveticaneue-bold-webfont.eot');
   src: url('fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/helveticaneue-bold-webfont.woff') format('woff'),
         url('fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face{
   font-family: 'helvetica_neueregular';
   src: url('fonts/helveticaneue-roman-webfont.eot');
   src: url('fonts/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-roman-webfont.woff') format('woff'),
         url('fonts/helveticaneue-roman-webfont.ttf') format('truetype'),
			url('fonts/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face{
	font-family: 'helvetica_neuemedium';
	src: url('fonts/helveticaneue-medium-webfont.eot');
	src: url('fonts/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/helveticaneue-medium-webfont.woff') format('woff'),
			url('fonts/helveticaneue-medium-webfont.ttf') format('truetype'),
			url('fonts/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header-wrap { border-bottom: medium none; }
header#header {	width: 100%; height: 103px; padding: 0; border-bottom: 4px solid #28251e; }
div.site-branding { width: 100%; height: 99px; background-color: #353432; }
.site-slogan { width: 135px; font-family: gillsansregular; font-size: 20px; text-transform: uppercase; color: #acabaa; padding: 24px 0 0 8%; float: left;}
div#logo {
	width: 295px;
	height: 66px;
	position: relative;
	top: 19px;
	left: 51px;
	overflow: hidden;
	float: left;
}

#site-navigation-wrap { width: auto; height: 45px; right: 122px; top: 48px; }
#site-navigation #menu-main-menu li { height: 45px;  }
#site-navigation #menu-main-menu a { color: #fffefe; font-family: GillSansBold; font-size: 14px; text-transform: uppercase; }
#site-navigation #menu-main-menu a:hover { color: #fffefe; }
#site-navigation #menu-main-menu .menu-item-19 { background: transparent url("images/about-arrows.png") no-repeat scroll center 16px; }
#site-navigation #menu-main-menu .menu-item-19 a { color: #b9b8b8; }
#site-navigation #menu-main-menu li.current-menu-item { background: url("images/active.png") no-repeat center 9px; height: 55px; z-index: 202; }
#site-navigation #menu-main-menu li.current-menu-item a { color: #327459; }
#social-networks #menu-social-networks li { height: 21px; width: 21px; float: right; text-indent: -9999px; background-image: url("images/social-networks.png"); margin-left: 5px; }
#social-networks #menu-social-networks a { display: block; width: 21px; height: 21px; }
#social-networks #menu-social-networks li:hover { background-position: -21px 0; }
#social-networks #menu-social-networks .menu-item-21 { background-position: 0 -21px; }
#social-networks #menu-social-networks .menu-item-21:hover { background-position: -21px -21px; }
div.rollover-item .rollover-title-text { line-height: 38px; }
#rollover-form label { font-weight: bold; }
#rollover-form #rollover-input-button { line-height: 22px; }
#rollover-form #fb-link { display: block; height: 21px; width: 21px; background: url("images/social-networks.png") -21px 0; }
#rollover-form #in-link { display: block; height: 21px; width: 21px; background: url("images/social-networks.png") -21px -21px; }

.page-template-basic_page #main { width: 100%; padding: 0; position: relative; }
img.image-overlay { width: 100%; height: 100%; }
div.background-overlay { width: 100%; height: 100%; position: absolute; top: 0; opacity: .75; }
#content h1 { margin: 0; font-family: helvetica_neuebold; font-size: 15px; color: #327459; }
#content p { font-family: helvetica_neueregular; font-size:15px; color: #3d3c3a; }
.page-template-basic_page #content { width: 100%; max-width: 893px; height: auto; position: absolute; top: 55px; left: 50%; margin-left: -446px; background-color: #dadadb; box-shadow: 0px 0px 5px rgba(61, 60, 58, 0.63); padding: 37px 69px 17px 69px; box-sizing: border-box; margin-bottom: 50px; }
.rollover-regular-text strong { color: #fffefe; }
ol, ul {list-style-type: disc; color:#3d3c3a; font-size: 15px;}
ul.estate-bullets{ margin-left: 4%; margin-bottom: 15px; }


#site-navigation #menu-main-menu li.current-menu-item ul li a{
	color: #ffffff;
}

#site-navigation #menu-main-menu li.current-menu-item ul li:hover a{
	color: #327459;
}

.color-overlay{
    height: 100%;
    position: fixed;
    display: block;
    width: 100%;
    background-size: cover;
    top: 0;
    z-index: -1;
}

.color-overlay::after{
    background-color: #327;
}

@media ( max-width: 420px ) {
	div#logo {
		width: 220px;
		height: 66px;
		top: 28px;
		left: 18px;
	}
}

@media ( max-width: 969px ) {
	#header, #main { max-width: 100%; }
	.page-template-basic_page #content { left: 0; margin-left: 0; padding: 37px 8% 17px 8%; }
	#site-navigation-wrap { width: auto; height: 45px; right: 35px; top: 24px}
	.site-slogan{display: none}

}

@media ( max-width: 1230px ) {
	.site-slogan{display: none}
	#site-navigation-wrap{
		right: 60px;
	}
}